$footer-sm: 700px;
$footer-lg: 1401px;

.site-footer {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--color-footer-background);
}

.footer-content {
  display: flex;
  padding: 1.25rem;
  flex-direction: column;
  align-self: center;
  width: 100%;
  max-width: 23rem;
  margin: 0;
  gap: 0.75rem;
  color: var(--color-link);
}

.footer-content span {
  font-size: 0.8125rem;
  font-weight: 400;
  align-self: center;
}

@media (min-width: $footer-sm) {
  .footer-content {
    max-width: 44rem;
  }

  .footer-content span {
    font-size: 1.5rem;
  }
}

@media (min-width: $footer-lg) {
  .footer-content {
    max-width: 87.5rem;
  }
}

.footer-links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  color: var(--color-background);
  gap: 0.5rem;
}




