$header-sm: 700px;
$header-lg: 1401px;

.site-header {
  width: 100%;
  padding: 0.625rem 0;
  position: relative;
  z-index: 10;
  background: var(--color-background);
  color: var(--color-text-primary);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    width: 20rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 4.25rem;

    @media (min-width: $header-sm) {
      width: 44rem;
    }

    @media (min-width: $header-lg) {
      width: 87.5rem;
    }
  }
}

.logo-icon {
  width: 2.8125rem;
  height: 2.3125rem;
  flex-shrink: 0;
}

.header-toggles {
  display: flex;
  align-items: center;
  gap: 2.5rem;

  @media (min-width: $header-lg) {
    gap: 1.5rem;
    height: 1.8125rem;
  }
}

nav ul {
  display: flex;
  list-style: none;
  gap: 3rem;
  width: auto;
  height: 1.8125rem;
  flex-shrink: 0;

  a {
    text-decoration: none;
    color: var(--color-link);
    font-weight: 400;
    text-align: center;

    &:hover {
      color: var(--color-text-primary);
    }
  }
}

.mobile-nav-btn {
  display: flex;
  width: 3rem;
  height: 3rem;
  padding: 0.8125rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  aspect-ratio: 1/1;

  border-radius: 0.8125rem;
  background: var(--color-modal-button);
  color: var(--color-modal-text);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);

  border: none;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    background: var(--color-hover);
    color: var(--color-hover-text);
  }
}

.mobile-nav-modal {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background: var(--color-modal-background);
  z-index: 1000;
  width: 100%;
  max-width: 100vw;
}

.lang-menu {
  position: static;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0;
  box-shadow: none;

  a {
    display: flex;
    height: 3.6875rem;
    padding: 0.625rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    color: var(--color-modal-text);

    border-radius: 0.625rem;
    background: var(--color-modal-button);
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.10) inset, 0 2px 4px 0 rgba(0, 0, 0, 0.25);

    &:hover {
      background: var(--color-hover);
      color: var(--color-hover-text);
    }
  }
}

.close-btn {
  display: flex;
  width: 3rem;
  height: 3rem;
  padding: 0.8125rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  aspect-ratio: 1/1;
  align-self: center;

  border-radius: 0.8125rem;
  background: var(--color-modal-button);
  color: var(--color-modal-text);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);

  margin-top: 1rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    background: var(--color-hover);
    color: var(--color-hover-text);
  }
}
