$links-sm: 700px;
$links-lg: 1400px;

:host {
  --icon-size: 2.5rem;

  @media (min-width: $links-sm) {
    --icon-size: 3.5rem;
  }
}

.social-media-links-container {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 0.3rem;

  @media (min-width: $links-sm) {
    gap: 1rem;
  }

  @media (min-width: $links-sm) {
    gap: 1.5rem;
  }
}

.social-media-links-container a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
.social-media-links-container svg {
  display: block;
}

.social-media-links-container a,
.social-media-links-container svg {
  width: var(--icon-size);
  height: var(--icon-size);
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:hover {
    opacity: 0.8;
  }
}

.outer-fill {
  color: var(--color-social-link-outer);
}

.inner-fill {
  color: var(--color-social-link-inner);
}
