@if (project$ | async; as project) {
  <div class="project-dialog">
    <button
      class="btn"
      mat-button
      (click)="onCloseClick()"
    >
      {{ 'button.close' | transloco }}
    </button>

    <div
      class="project-cover-img"
      [ngStyle]="{ 'background-image': 'url(' + project.coverImage + ')' }"
      aria-hidden="true"
    ></div>

    <h3 class="project-title">
      {{ project.titleKey | transloco }}
    </h3>

    <div class="project-description">
      <h6 class="project-subtitle">
        {{ 'project.overview' | transloco }}
      </h6>
      <p class="project-content">
        {{ project.descriptionSectionsKeys['overview'] | transloco }}
      </p>
      <h6 class="project-subtitle">
        {{ 'project.technologies' | transloco }}
      </h6>
      <p class="project-content">
        {{ project.descriptionSectionsKeys['technologies'] | transloco }}
      </p>
      <h6 class="project-subtitle">
        {{ 'project.features' | transloco }}
      </h6>
      <p class="project-content">
        {{ project.descriptionSectionsKeys['features'] | transloco }}
      </p>
      <h6 class="project-subtitle">
        {{ 'project.architecture' | transloco }}
      </h6>
      <p class="project-content">
        {{ project.descriptionSectionsKeys['architecture'] | transloco }}
      </p>
      <h6 class="project-subtitle">
        {{ 'project.deployment' | transloco }}
      </h6>
      <p class="project-content">
        {{ project.descriptionSectionsKeys['deployment'] | transloco }}
      </p>
      <h6 class="project-subtitle">
        {{ 'project.results' | transloco }}
      </h6>
      <p class="project-content">
        {{ project.descriptionSectionsKeys['results'] | transloco }}
      </p>
    </div>

    @if (skillsByCategory | async; as skillsByCategory) {
      <h4 class="project-skills-title">
        {{ 'project.skills' | transloco }}
      </h4>

      <div class="project-skills">
        <div class="skills-category-section">
          <h5 class="skill-category">
            {{ 'skill.category.languages' | transloco }}
          </h5>
          <div class="category-skills">
            @for (skill of skillsByCategory['languages']; track skill.key)  {
              <app-skill [skill]="skill"></app-skill>
            }
          </div>
        </div>

        <div class="skills-category-section">
          <h5 class="skill-category">
            {{ 'skill.category.frameworks' | transloco }}
          </h5>
          <div class="category-skills">
            @for (skill of skillsByCategory['frameworks']; track skill.key)  {
              <app-skill [skill]="skill"></app-skill>
            }
          </div>
        </div>

        <div class="skills-category-section">
          <h5 class="skill-category">
            {{ 'skill.category.tools' | transloco }}
          </h5>
          <div class="category-skills">
            @for (skill of skillsByCategory['tools']; track skill.key)  {
              <app-skill [skill]="skill"></app-skill>
            }
          </div>
        </div>
      </div>
    }

    <div class="project-links">
      @if (project.repoUrl && project.repoUrl.length > 0) {
        <a
          class="btn project-link link-primary"
          href="{{ project.repoUrl }}"
          target="_blank"
        >
          {{ 'button.repo' | transloco }}
        </a>
      }
      @if (project.demoUrl && project.demoUrl.length > 0) {
        <a
          class="btn project-link link-secondary"
          href="{{ project.demoUrl }}"
          target="_blank"
        >
          {{ 'button.demo' | transloco }}
        </a>
      }
    </div>
  </div>
}
