/* You can add global styles to this file, and also import other style files */
@use 'styles/main.scss';

html, body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
app-root, app-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}
main {
  flex: 1 0 auto;
}
